///
/// Main content styles
///

@import '../modules/_colors.scss';
@import '../modules/_typography.scss';

h1,
h2,
h3 {
	letter-spacing: var( --go-heading--letter-spacing );
}

b,
strong {
	font-weight: 600;
}

.post__title {
	font-size: calc(
		var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio )
	);
	font-size: var( --go--type-scale-6 );
}

.post__subtitle {
	font-size: 1.4375rem;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: var( --gf-post-subtitle-letter-spacing );

	@media not screen and ( min-width: 960px ) {
		font-size: 1.125rem;
	}
}

// Post meta
.post__meta  {
    gap: 0.5em;
    margin-bottom: 2rem;
	font-weight: var( --gf-meta--font-weight, var( --go--font-weight ) );
	letter-spacing: var( --gf-meta--letter-spacing, var( --go--letter-spacing ) );

    li {
        margin: 0;

		.meta-icon {
			top: 0.1em;
		}

		&.post-author,
		&.post-comment-link {
			.meta-icon {
				top: 0.2em;
			}
		}
    }
}

.comments-area {
	.comment-meta {
		& > a {
			font-family: var( --go-meta--font-family );
			font-size: var( --go-meta--font-size );
			font-weight: var( --gf-meta--font-weight, var( --go--font-weight ) );
			letter-spacing: var( --gf-meta--letter-spacing, var( --go--letter-spacing ) );
		}
	}
}
