///
/// Design style: Rising Sun
/// Color scheme: Maple
///

$primary: #9b2928;
$secondary: #5b202e;
$tertiary: #f6f2df;
$shared_dark: #343036;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--primary );

	--gf-admin--menu--background-color: #{$shared_dark};
}
