:root {
  --go--color--primary: #c2185b;
  --go--color--secondary: #ec407a;
  --go--color--tertiary: #fce4ec;
  --go--color--background: #ffffff;
  --gf-admin--menu--background-color: #000000;
  --gf-admin--submenu--background-color: #262626;
  --gf-admin--menu-current--background-color: #ec407a;
}
