:root {
  --go--color--primary: #909b31;
  --go--color--secondary: #667133;
  --go--color--tertiary: #eeebef;
  --go--color--background: #ffffff;
  --gf-admin--menu-current--background-color: var( --go--color--primary );
  --gf-admin--menu--background-color: #343036;
  --gf-admin--submenu--background-color: #4c454e;
}
