///
/// Design style: Trendy
/// Color scheme: Plum
///

:root {
	--go--color--primary: #000000;
	--go--color--secondary: #4d0859;
	--go--color--tertiary: #ded9e2;
	--go--color--background: #ffffff;
}
