///
/// Design style: Rising Sun
/// Color scheme: Sashimi
///

:root {
	--go--color--primary: #e36116;
	--go--color--secondary: #000000;
	--go--color--tertiary: #000000;
	--go--color--background: #ffffff;
}
