///
/// Design style: Rising Sun
/// Color scheme: Volcano
///

:root {
	--go--color--primary: #6c778b;
	--go--color--secondary: #000000;
	--go--color--tertiary: #000000;
	--go--color--background: #ffffff;
}
