///
/// Design style: Playful
/// Color scheme: Frolic
///

:root {
	--go--color--primary: #3f46ae;
	--go--color--secondary: #ecb43d;
	--go--color--tertiary: #f7fbff;
	--go--color--background: #ffffff;
}
