///
/// Design style: Rising Sun
/// Color scheme: Wisteria
///

:root {
	--go--color--primary: #7f67a4;
	--go--color--secondary: #44355c;
	--go--color--tertiary: #eee9e2;
	--go--color--background: #ffffff;

	--gf-admin--menu--background-color: #343036;
}
