///
/// Design style: Rising Sun
/// Color scheme: Wisteria
///

$primary: #7f67a4;
$secondary: #44355c;
$tertiary: #eee9e2;
$shared_dark: #343036;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--primary );

	--gf-admin--menu--background-color: #{$shared_dark};
}
