///
/// Design style: Rising Sun
/// Color scheme: Wisteria
///

:root {
	--go--color--primary: #7f67a4;
	--go--color--secondary: #000000;
	--go--color--tertiary: #000000;
	--go--color--background: #ffffff;
}
