///
/// Admin styles
///

@import '../shared/partials/_forms';

:root {
	--wp-default--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	--wp-default--admin-menu--font-size: 14px;

	--go--type-scale-0: calc( var( --go--font-size ) * 0.7);
	--go--type-scale-0: calc( var( --go--heading-size, var( --go--font-size ) ) * 0.7);
	--go--type-scale-1: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) );
	--go--type-scale-1: calc( var( --go--type-scale-0 ) * var( --go--type-ratio ) );
	--go--type-scale-2: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) );
	--go--type-scale-2: calc( var( --go--type-scale-1 ) * var( --go--type-ratio ) );
	--go--type-scale-3: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) );
	--go--type-scale-3: calc( var( --go--type-scale-2 ) * var( --go--type-ratio ) );
	--go--type-scale-4: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) );
	--go--type-scale-4: calc( var( --go--type-scale-3 ) * var( --go--type-ratio ) );
	--go--type-scale-5: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) );
	--go--type-scale-5: calc( var( --go--type-scale-4 ) * var( --go--type-ratio ) );
	--go--type-scale-6: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) );
	--go--type-scale-6: calc( var( --go--type-scale-5 ) * var( --go--type-ratio ) );
}

body {
	font-display: swap;
	font-family: var( --go--font-family, var( --wp-default--font-family ) );
	font-size: var( --go--font-size );
	font-weight: var( --go--font-weight, 400 );
	line-height: var( --go--line-height );
	text-rendering: optimizeLegibility;
}

.wrap {

	& > h1 {
		font-display: swap;
		font-family: var( --gf-admin--page-heading--font-family, var( --go-heading--font-family, var( --wp-default--font-family ) ) );
		font-size: calc( var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) );
		font-size: var( --go--type-scale-5 );
		font-style: normal;
		font-style: var( --go-heading--font-style, normal );
		font-weight: var( --gf-admin--page-heading--font-weight, var( --go-heading--font-weight, 600 ) );
		line-height: var( --go-heading--line-height, 1.4em );
		letter-spacing: normal;
		letter-spacing: var( --go-heading--letter-spacing, normal );
		color: var( --gf-admin--page-heading--color--text, var( --gf-admin--heading--color--text ) );
	}

	h2,
	h3 {
		font-size: var( --gf-admin--heading--font-size, var( --go--type-scale-2, 1.3em ) );
		font-weight: var( --gf-admin--heading--font-weight, var( --go-heading--font-weight, 600 ) );
		color: var( --gf-admin--heading--color--text, var( --go-heading--color--text, #333333 ) );
	}
}

#adminmenu {

	#collapse-button {
		font-size: var( --gf-admin--menu--collapse-button--font-size, 13px );
	}

	.wp-submenu-head,
	a.menu-top {
		font-size: var( --gf-admin--menu--top--font-size, var( --wp-default--admin-menu--font-size ) );
	}

	.wp-submenu a {
		font-size: var( --gf-admin--menu--sub--font-size, var( --wp-default--admin-menu--font-size ) );
	}
}

// Buttons.

.wp-core-ui {

	.button  {
		display: inline-block;
		text-decoration: none;
		font-size: 13px;
		line-height: 2.15384615;
		min-height: 30px;
		margin: 0;
		padding: 0 10px;
		cursor: pointer;
		border-width: 1px;
		border-style: solid;
		border-radius: var( --gf-button--border-radius );

		&.button-primary {}

	}
}

///
/// Core UI elements
///
.wp-core-ui .button {
	font-family: var( --go-button--font-family );
	font-size: var( --go-button--font-size, var( --go--font-size ) );
	font-weight: var( --go-button--font-weight );
	letter-spacing: var( --go-button--letter-spacing, normal );
	line-height: 1;
	background: var( --gf-button--background-color, var( --go--color--primary ) );
	border-color: var( --gf-button--border-color, var( --go--color--primary ) );
	color: var( --gf-button--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
	background: var( --gf-button--action--background-color, var( --go--color--secondary ) );
	border-color: var( --gf-button--action--border-color );
	color: var( --gf-button--action--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
	background: var( --gf-button--action--background-color, var( --go--color--secondary ) );
	border-color: var( --gf-button--action--border-color );
	color: var( --gf-button--action--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
	box-shadow: var( --gf-button--action--color, 0 0 0 1px var( --gf-button--action--border-color, var( --go--color--primary ) ) );
}

.wp-core-ui .button:active {
	background: var( --gf-button--action--background-color, var( --go--color--secondary ) );
	border-color: var( --gf-button--action--border-color );
	color: var( --gf-button--action--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
	box-shadow: none;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
	background: var( --gf-button--action--background-color, var( --go--color--secondary ) );
	border-color: var( --gf-button--action--border-color );
	color: var( --gf-button--action--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
	box-shadow: var( --gf-button--action--color, 0 0 0 1px inset 0 2px 5px -3px var( --gf-button--action--border-color, var( --go--color--primary ) ) );
}

.wp-core-ui .button.active:focus {
	box-shadow: var( --gf-button--action--color, 0 0 0 1px inset 0 2px 5px -3px var( --gf-button--action--border-color ) );
}
