///
/// Design style: Rising Sun
/// Color scheme: Koi Pond
///

$primary: #d46408;
$secondary: #364c78;
$tertiary: #edf2fb;
$shared_dark: #343036;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--primary );

	--gf-admin--menu--background-color: #{$shared_dark};
}
