///
/// Design style: Rising Sun
/// Color scheme: Koi Pond
///

:root {
	--go--color--primary: #d46408;
	--go--color--secondary: #000000;
	--go--color--tertiary: #000000;
	--go--color--background: #ffffff;
}
