///
/// Design style: Playful
/// Color scheme: Organic
///

$primary: #3c896d;
$secondary: #6b0369;
$tertiary: #f2f9f7;
$shared_dark: #323648;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;

	--gf-admin--menu--background-color: #{$shared_dark};
	--gf-admin--submenu--background-color: #{lighten( $color: $shared_dark, $amount: 10% )};
}
