///
/// Design style: Welcoming
/// Color scheme: Lavender
///

$primary: #443a82;
$secondary: #2b226b;
$tertiary: #c9c9c9;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #eeeeee;

	--gf-admin--menu--background-color: #{darken( $color: $secondary, $amount: 12.5% )};
	--gf-admin--submenu--background-color: #{darken( $color: $primary, $amount: 10% )};
}
