:root {
  --go--color--primary: #a88548;
  --go--color--secondary: #05212d;
  --go--color--tertiary: #f9f4ef;
  --go--color--background: #ffffff;
  --gf-admin--menu--background-color: var( --go--color--secondary );
}
