:root {
  --go--color--primary: #3f46ae;
  --go--color--secondary: #ecb43d;
  --go--color--tertiary: #f7fbff;
  --go--color--background: #ffffff;
  --gf-admin--menu--background-color: #323648;
  --gf-admin--submenu--background-color: #474d66;
}
