///
/// Design style: Rising Sun
/// Color scheme: Cherry Blossom
///

$primary: #cd6691;
$secondary: #65334b;
$tertiary: #f9edf1;
$shared_dark: #343036;
$shared_medium: #4c454e;
$shared_light: #504754;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--primary );

	--gf-admin--menu--background-color: #{$shared_dark};
	--gf-admin--submenu--background-color: #{$shared_medium};
}
