///
/// Design style: Modern
/// Color scheme: Pacific
///

:root {
	--go--color--primary: #00796b;
	--go--color--secondary: #26a69a;
	--go--color--tertiary: #e0f2f1;
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--secondary );
}
