///
/// Design style: Rising Sun
/// Color scheme: Chrysanthemum
///

:root {
	--go--color--primary: #efa700;
	--go--color--secondary: #000000;
	--go--color--tertiary: #000000;
	--go--color--background: #ffffff;
}
