:root {
  --go--color--primary: #c2185b;
  --go--color--secondary: #ec407a;
  --go--color--tertiary: #fce4ec;
  --go--color--background: #ffffff;
  --gf-admin--menu-current--background-color: var( --go--color--secondary );
}
