///
/// Design style: Trendy
/// Color scheme: Avocado
///

:root {
	--go--color--primary: #000000;
	--go--color--secondary: #02493b;
	--go--color--tertiary: #b4c6af;
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--secondary );
}
