.site-title {
  color: inherit;
}

.post__thumbnail {
  max-height: unset;
  padding-bottom: 35%;
  padding-bottom: var(--go-featured-image--height, 35%);
}

.post__thumbnail:after,
.post__thumbnail img {
  top: -50% !important;
  right: auto !important;
  bottom: auto !important;
}
