:root {
  --gf-fieldset--padding--y: var( --go--spacing--vertical );
  --gf-fieldset--padding--x: calc( var( --go-block--padding--x ) / 2 );
  --gf-fieldset--border: var( --go-input--border );
  --gf-fieldset--border-radius: var( --go-input--border-radius, var( --go-button--border-radius ) );
  --gf-button--border-radius: 0px;
}

fieldset {
  margin: var(--go--spacing--vertical) 0 0 0;
  padding: var(--gf-fieldset--padding--y, 1rem) var(--gf-fieldset--padding--x, 2rem);
  background: var(--gf-fieldset--background);
  border: var(--gf-fieldset--border);
  border-radius: var(--gf-fieldset--border-radius);
}

fieldset + fieldset {
  --double-spacing--vertical: calc( var( --go--spacing--vertical ) * 2 );
  margin-top: var(--double-spacing--vertical, 5rem);
}

fieldset legend {
  padding: var(--gf-legend--padding-y, 0) var(--gf-legend--padding-x, 0.5em);
  background: var(--gf-legend--background);
  border: var(--gf-legend--border, none);
  border-radius: var(--gf-legend--border-radius);
  font-size: var(--gf-legend--font-size, 1em);
  font-weight: var(--gf-legend--font-weight, 700);
  letter-spacing: var(--gf--legend--letter-spacing, var(--go--letter-spacing));
}

input[type="text"],
input[type="email"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea {
  letter-spacing: var(--gf--input-text--letter-spacing, var(--go--letter-spacing));
}

textarea {
  resize: var(--gf-textarea--resize, vertical);
}

.wp-core-ui .button {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--gf-button--border-radius);
}
