///
/// Design style: Traditional
/// Color scheme: Apricot
///

:root {
	--go--color--primary: #c76919;
	--go--color--secondary: #122538;
	--go--color--tertiary: #f8f8f8;
	--go--color--background: #ffffff;
}
