///
/// Design style: Traditional
/// Color scheme: Apricot
///

$primary: #c76919;
$secondary: #122538;
$tertiary: #f8f8f8;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;

	--gf-admin--menu--background-color: var( --go--color--secondary );
}
