///
/// Design style: Trendy
/// Color scheme: Avocado
///

$primary: #000000;
$secondary: #02493b;
$tertiary: #b4c6af;
$shared_dark: #000000;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;

	--gf-admin--menu--background-color: #{$shared_dark};
	--gf-admin--submenu--background-color: #{lighten( $color: $shared_dark, $amount: 15% )};
	--gf-admin--menu-current--background-color: #{$secondary};
}
