///
/// Main content styles
///

h1,
h2,
h3 {
	letter-spacing: var( --go-heading--letter-spacing );
}

p {
    margin: 0 0 1.5rem;
}

.post__title {
	font-size: calc(
		var( --go--font-size ) * 0.7 * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio ) * var( --go--type-ratio )
	);
	font-size: var(--go--type-scale-6);
}

.post__subtitle {
	font-size: 1.4375rem;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: var( --gf-post-subtitle-letter-spacing );

	@media not screen and ( min-width: 960px ) {
		font-size: 1.125rem;
	}
}
