///
/// Site header styles
///

.site-title,
.site-description {
	opacity: 1;
}

.has-header-1,
.has-header-2 {
	.header {
		.header__titles {
			@media screen and ( min-width: 960px ) {
				align-items: baseline;
			}
		}
	}
}

.custom-logo-wrap {
	@media screen and ( min-width: 960px ) {
		display: inline-flex;
		align-self: center;
	}
}
