///
/// Root style variables
///

@import '../modules/_colors.scss';
@import '../modules/_typography.scss';

:root {
    --go--max-width: 48rem;
    --go--max-width--alignwide: 84rem;
    --go--viewport-basis: 1000;
    --go--spacing--horizontal: 60;
    --go--spacing--paragraph: 20;
    --go--spacing--header: 30;
    --go--color--text: #{$shared_dark};
    --go--font-family: #{$general};
    --go--letter-spacing: 0.075em;
    --go--font-size--small: 85%;
    --go--font-size--smallest: 82%;
    --go--font-size: 1.125rem;
    --go--font-weight: 300;
    --go--letter-spacing--small: .015em;
    --go--line-height: 1.5;
    --go--type-ratio: 1.275;
    --go--hyperlink--color--text: var( --go--color--primary );
    --go--hyperlink-interactive--color--text: var( --go--color--secondary );
    --go-heading--button-spacing: 1.75rem;
    --go-heading--color--text: #{$shared_light};
    --go-heading--font-family: #{$display};
    --go-heading--font-weight: 400;
    --go-heading--letter-spacing: -0.0325em;
    --go-heading--line-height: 1.15;
    --go-heading--margin-bottom: 2rem;
    --gf-post-subtitle-letter-spacing: var( --go--letter-spacing );
    --go-meta--font-family: #{$display};
    --go-meta--font-size: 1.25rem;
    --gf-meta--font-weight: 500;
    --gf-meta--letter-spacing: -0.0125em;
    --go-meta--color--text: var( --go--color--secondary );
    --go-caption--color--text: #{$shared_medium};
    --go-caption--font-size: .85rem;
    --go-caption--text-align--rtl: right;
    --go-caption--text-align: left;
    --go-quote--border-width: .45rem;
    --go-quote-large--font-size: 2.5em;
    --go-pullquote--font-family: serif;
    --go-pullquote--font-style: normal;
    --go-outline--color--text: var( --go--color--secondary );
    --go-outline--color--text: var( --go-heading--color--text );
    --go-selection--color--background: var( --go--color--secondary );
    --gf-legend--font-weight: 600;
    --go-button--border-radius: 0px;
    --go-button--font-family: #{$display};
    --go-button--font-family: var( --go-heading--font-family);
    --go-button--font-size: 1.3rem;
    --go-button--font-weight: 500;
    --go-button--padding--x: 2.25rem;
    --go-button--padding--y: 1.4rem;
    --go-button--color--background: var( --go--color--primary );
    --go-button-interactive--color--background: var( --go--color--secondary );
    --go-input--border: 1px solid var( --go--color--secondary);
    --go-input--border: var( --go-input--border-width, 1px ) var( --go-input--border-style, solid ) var( --go-input--border-color, var( --go-heading--color--text ) );
    --go-label--font-family: #{$general};
    --go-label--font-family: var( --go--font-family );
    --go-label--font-size: 1rem;
    --go-label--font-weight: 400;
    --go-label--font-weight: var( --go-navigation--font-weight, 400 );
    --go-label--letter-spacing: var( --go--letter-spacing );
    --go-label--margin-bottom: .25rem;
    --go-input--color--background: var( --go--color--background );
    --go-input-interactive--color--background: var( --go--color--background );
    --go-input--color--text: #{$shared_dark};
    --go-input--color--text: var( --go--color--text );
    --go-input--font-size: 1.05rem;
    --go-input--font-size: var( --go--font-size );
    --go-input--margin-bottom: 2rem;
    --go-input--padding--x: .85rem;
    --go-input--padding--y: .85rem;
    --gf-select--letter-spacing: var( --go--letter-spacing );
    --go-site-title--color--text: var( --go--color--secondary );
    --go-site-title--color--text: var( --go-heading--color--text );
    --go-site-title--font-size: 1.75rem;
    --go-site-title--font-weight: 500;
    --go-site-title--letter-spacing: -0.02em;
    --go-site-description--font-family: #{$general};
    --go-site-description--color--text: var( --go--color--text );
    --go-site-description--letter-spacing: 0.075em;
    --go-site-description--font-weight: 400;
    --go-navigation--color--text: var( --go--color--primary );
    --go-navigation--font-family: #{$display};
    --go-navigation--font-family: var( --go-heading--font-family );
    --go-navigation--font-size: 1.375rem;
    --go-navigation-mobile--font-size: 1.65rem;
    --go-navigation--font-weight: 500;
    --go-navigation--letter-spacing: -0.0125em;
    --go-submenu--color--background: var( --go--color--primary, #{$shared_bg_dark} );
    --go-search-button--color--text-interactive: var( --go--color--primary );
    --go-search-button--color--background: var( --go--color--primary );
    --go-search-button--color--background-interactive: var( --go--color--secondary );
    --go-search-button--color--background-interactive: var( --go-heading--color--text );
    --go-entryheader--padding-top: 3rem;
    --gf-footer-widgets--background-color: var( --go--color--tertiary );
    --gf-footer-widgets--color--text: var( --go--color--text );
    --gf-footer-widgets--font-size: 1rem;
    --gf-footer-widgets--list--font-size: var( --gf-footer-widgets--font-size );
    --gf-footer-widgets--font-weight: 400;
    --gf-footer-widgets--list--font-weight: var( --gf-footer-widgets--font-weight );
    --gf-footer-widgets--hyperlink--color--text: var( --go--color--primary, var( --go--color--text ) );
    --gf-footer-widgets--hyperlink-interactive--color--text: var(--go--hyperlink-interactive--color--text, var( --go--color--secondary ) );
    --go-footer--color--text: var( --go--color--secondary );
    --go-footer--color--text: var( --go-heading--color--text );
    --go-footer-navigation--line-height: 2.25;
    --go-social--color--text: var( --go--color--primary );
    --go-social--padding: 1rem;
    --go-social--size: 1.5rem;
    --wp-block-coblocks-accordion-item--border-color: var( --go--color--primary );
    --wp-block-coblocks-accordion-item--color--text: var( --go--color--primary );
    --wp-block-coblocks-accordion-item-interactive--color--background: none;
    --wp-block-coblocks-features--heading--margin-bottom: 1rem;
    --wp-block-coblocks-food-drinks--heading--color--background: none;
    --wp-block-coblocks-food-drinks--heading--color--text: var( --go--color--secondary );
    --wp-block-coblocks-food-drinks--heading--color--text: var( --go-heading--color--text );
    --wp-block-coblocks-food-drinks--heading--font-size: 2.25rem;
    --wp-block-coblocks-food-drinks--heading--padding: .5em .25em 0;
    --wp-block-coblocks-food-item--heading--font-size: 1.5rem;
    --wp-block-coblocks-food-item--heading--letter-spacing: 0;
    --wp-block-coblocks-food-item--heading--text-transform: normal;
    --wp-block-coblocks-gallery-carousel--overlay--opacity: .5;
    --wp-block-coblocks-services--heading--margin-bottom: 1.25rem;
    --wp-block-coblocks-services--heading--margin-top: 2rem;

	@media only screen and ( min-width: 600px ) {
		--go--font-size--small: 90%;
	}

	@media only screen and ( min-width: 960px ) {
		--go--font-size--small: 97%;
	}

	@media only screen and ( min-width: 782px ) {
		--go-quote-large--font-size: 3.75em;
		--go-site-title--font-size: 2.15rem;
	}
}
