:root {
  --go--font-size: .85rem;
  --go--type-ratio: 1.3;
  --go--font-family: 'Fira Code', mono, sans-serif;
  --go--letter-spacing--small: .015em;
  --go--line-height: 2.25;
  --gf-admin--page-heading--font-family: 'Heebo', sans-serif;
  --gf-admin--page-heading--font-weight: 800;
  --gf-admin--heading--font-size: 1rem;
  --gf-admin--heading--font-weight: 700;
  --go-heading--letter-spacing: -0.02em;
  --go-heading--line-height: 1.2;
  --gf-admin--page-heading--color--text: #000;
  --go-heading--color--text: #000;
  --gf-admin--menu--top--font-size: 0.9375rem;
  --gf-admin--menu--collapse-button--font-size: 0.8125rem;
}
