///
/// Main content styles
///

.site {
	position: relative;
}

.post__subtitle {
	margin-top: var( --go-header--padding--y, var( --go-block--padding--x ) );
}

// @todo Object fit options, overall & per post.
.post__thumbnail {
	position: relative;
	height: 48vw;
	max-height: 32em;
	overflow: hidden;
	z-index: 0;
	margin: 0;
	padding: 0;

	&.contained {
		padding: 0 var( --go-header--padding--x, var( --go-block--padding--x ) );
	}

	@media not screen and ( max-width: 782px ) {
		height: 30vw;
		max-height: 27em;
	}

	&:after {
		display: none;
	}

	img {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.template-cover-image,
.full-width-featured {
	.post__thumbnail {
		margin: 0 calc( -1 * var( --go-header--padding--x, var( --go-block--padding--x ) ) );
	}
}

.template-cover-image {

	.post__thumbnail.cover-image {
		min-height: 100vh;
		margin: 0;
		padding: 0;

		// In case the image does not load.
		background-color: var( --go--color--text );

		* {
			color: white;
		}

		.post__title {
			text-shadow: 0.025em 0.025em 0.0625em rgba( $color: black, $alpha: 0.85 );
		}

		.post__subtitle {
			text-shadow: 0.075em 0.075em 0.125em rgba( $color: black, $alpha: 0.85 );
		}

		&:after,
		header {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&:after {
			content: '';
			display: block;
			background-image: linear-gradient(
				to bottom,
				black 0%,
				rgba( $color: var( --further-cover-overlay-rgb ), $alpha: 0.625 ) 100%
			);
			opacity: 0.625;
		}

		header {
			z-index: 100;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.blog,
.singular {
	.post__thumbnail {
		&.cover-image,
		&.page-banner {
			img {
				object-fit: cover;
			}
		}
	}
}

.blog {
	article {
		.post__thumbnail {
			&.cover-image,
			&.page-banner {
				img {
					object-fit: contain;
				}
			}
		}
	}
}
