///
/// Site header styles
///

// General transition timing.
$header_transition_timing: 0.15s;

.header {
	width: 100%;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: inherit;
	}
}

.has-header-1,
.has-header-2,
.has-header-8,
.has-header-9 {
	.header {
		.header__titles {
			align-items: center;

			@media screen and ( min-width: 960px ) {
				flex-wrap: wrap;
				gap: 0 1.5vw;
			}
		}
	}
}

.custom-logo-wrap {
	position: relative;

	@media screen and ( min-width: 960px ) {
		display: inline-flex;
	}

	a {
		display: inline-block;

		img {
			display: block;
			transition: opacity $header_transition_timing;

			// Cover image template logo.
			& + img {
				margin-top: -100% !important;
				opacity: 0;
			}
		}
	}

	&.has-cover-logo {
		a {
			img {
				&:first-of-type {
					opacity: 0;
				}

				& + img {
					opacity: 1;
				}
			}
		}
	}
}

.custom-logo-link ~ a .site-title {
	margin: 0;
}

.site-description {
	@media screen and ( min-width: 960px ) {
		margin: 0;
	}
}

.template-cover-image {

	.header {
		position: absolute;

		&:not( .header-scrolled ) {
			background-color: transparent;

			.site-title,
			.site-description {
				opacity: 1;

				@media not screen and ( max-width: 600px ) {
					color: white;
				}
			}

			@media screen and ( min-width: 960px ) {
				.header__navigation {
					a {
						color: white;
					}
				}
			}
		}

		&.header-scrolled {
			box-shadow: -0.25rem 0 3rem -0.325rem rgba( $color: black, $alpha: 0.25 );
		}
	}

	&.has-sticky-header {
		.header {
			position: absolute;
			transition: background-color $header_transition_timing linear;

			&.header-scrolled {
				background-color: var( --go-header--color--background );

				.custom-logo-wrap {
					a {
						img {
							&:first-of-type {
								opacity: 1;
							}

							& + img {
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}

	&:not( .menu-is-open ) {
		.header:not( .header-scrolled ) {

			button {
				&:focus {
					@media not screen and ( max-width: 600px ) {
						outline-color: white;
					}
				}
			}

			svg {
				@media not screen and ( max-width: 600px ) {
					fill: white;
				}
			}
		}
	}
}

.header-8 .header__extras,
.header-9 .header__extras {
	display: none;
}

.header-8.has-featured-image .header,
.header-9.has-featured-image .header {
	position: absolute;
	top: 0;
	width: 100%;
}

.header-8.has-featured-image.admin-bar .header,
.header-9.has-featured-image.admin-bar .header {
	top: 32px;
}

@media only screen and (min-width:960px) {

	.header-8 .header__extras {
		justify-content: flex-end;
	}
}

@media only screen and (max-width:781px) {

	.header-8.has-featured-image.admin-bar .header,
	.header-9.has-featured-image.admin-bar .header {
		top: 46px;
	}
}

.has-header-9 .header__extras {
    justify-content: flex-start;
    margin-left: -.75rem;
    margin-right: 2.25vw;
    margin-right: var(--go-navigation--padding--x, 2.25vw);
    order: 1;
}

.has-header-9 .header__title-nav {
    order: 2;
}

.has-header-9 .header .header__titles {
    justify-content: flex-end;
}

.has-header-9 .header .header__titles a {
    order: 2;
}

.has-header-9 .header .header__titles a.custom-logo-link {
    order: 3;
}

.has-header-9 .header__titles .custom-logo-link~a .site-title {
    margin-left: 0;
    margin-right: 2vw;
    margin-right: var(--go-navigation--padding--x, 2vw);
}

@media only screen and (min-width:960px) {

	.has-header-9 .header__titles .site-description {
		margin-left: 0;
		margin-right: 2vw;
		margin-right: var(--go-navigation--padding--x, 2vw);
	}
	.has-header-9 .header__title-nav {
		order: 3;
	}

	.has-header-9 .header__navigation {
		justify-content: flex-start;
		order: 1;
		padding-left: 0;
		padding-right: 2vw;
		padding-right: var(--go-navigation--padding--x, 2vw);
		text-align: left;
	}

	.has-header-9 .header__navigation li:not(:first-child) {
		margin-left: 0;
	}

	.has-header-9 .header__navigation li:not(:last-child) {
		margin-right: 2vw;
		margin-right: var(--go-navigation--padding--x, 2vw);
	}

	.has-header-9 .header__navigation ul.sub-menu li.menu-item {
		margin-right: inherit;
	}

	.has-header-9 .header__extras {
		order: 1;
	}
}

// Styles if JavaScript is enabled.
.js {

	.has-sticky-header {
		.header {
			position: sticky;
			top: 0;

			.header__inner {
				transition: padding $header_transition_timing linear;
			}

			&.header-scrolled {
				.header__inner {
					padding-top: calc( var( --go-header--padding--y ) / 3 );
					padding-bottom: calc( var( --go-header--padding--y ) / 3 );
				}
			}
		}

		&.logged-in.admin-bar {
			.header {
				top: 32px;
			}

			@media screen and ( max-width: 782px ) {
				.header {
					top: 46px;
				}
			}

			@media screen and ( max-width: 600px ) {
				.header {
					position: static;
					top: unset;
				}
			}
		}
	}

	.template-cover-image {
		&.has-sticky-header {
			.header {
				position: fixed;
			}
		}
	}
}

/**
 * Hide the menu toggle button if
 * there is nothing to toggle.
 */
.has-no-primary-menu {
	.nav-toggle {
		display: none;
	}
}
