///
/// Site header styles
///

// General transition timing.
$header_transition_timing: 0.15s;

.header {
	width: 100%;
	position: relative;

	.header__titles {
		align-items: center;

		@media screen and ( min-width: 960px ) {
			flex-wrap: wrap;
			gap: 0 1.5vw;
			align-items: baseline;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: inherit;
	}
}

.custom-logo-wrap {
	position: relative;

	@media screen and ( min-width: 960px ) {
		display: inline-flex;
		align-self: center;
	}

	a {
		display: inline-block;

		img {
			display: block;
			transition: opacity $header_transition_timing;

			// Cover image template logo.
			& + img {
				margin-top: -100%;
				opacity: 0;
			}
		}
	}

	&.has-cover-logo {
		a {
			img {
				&:first-of-type {
					opacity: 0;
				}

				& + img {
					opacity: 1;
				}
			}
		}
	}
}

.custom-logo-link ~ a .site-title {
	margin: 0;
}

.site-description {
	@media screen and ( min-width: 960px ) {
		margin: 0;
	}
}

.template-cover-image {

	.header:not( .header-scrolled ) {
		position: absolute;
		background-color: transparent;

		.site-title,
		.site-description {
			opacity: 1;

			@media not screen and ( max-width: 600px ) {
				color: white;
			}
		}

		@media screen and ( min-width: 960px ) {
			.header__navigation {
				a {
					color: white;
				}
			}
		}
	}

	&.has-sticky-header {
		.header {
			position: absolute;
			transition: background-color $header_transition_timing linear;

			&.header-scrolled {
				background-color: var( --go-header--color--background );

				.custom-logo-wrap {
					a {
						img {
							&:first-of-type {
								opacity: 1;
							}

							& + img {
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}

	&:not( .menu-is-open ) {
		.header:not( .header-scrolled ) {

			button {
				&:focus {
					@media not screen and ( max-width: 600px ) {
						outline-color: white;
					}
				}
			}

			svg {
				@media not screen and ( max-width: 600px ) {
					fill: white;
				}
			}
		}
	}
}

// Styles if JavaScript is enabled.
.js {

	.has-sticky-header {
		.header {
			position: sticky;
			top: 0;

			.header__inner {
				transition: padding $header_transition_timing linear;
			}

			&.header-scrolled {
				.header__inner {
					padding-top: calc( var( --go-header--padding--y ) / 3 );
					padding-bottom: calc( var( --go-header--padding--y ) / 3 );
				}
			}
		}

		&.logged-in.admin-bar {
			.header {
				top: 32px;
			}

			@media screen and ( max-width: 782px ) {
				.header {
					top: 46px;
				}
			}

			@media screen and ( max-width: 600px ) {
				.header {
					position: static;
					top: unset;
				}
			}
		}
	}

	.template-cover-image {
		&.has-sticky-header {
			.header {
				position: fixed;
			}
		}
	}
}

/**
 * Hide the menu toggle button if
 * there is nothing to toggle.
 */
.has-no-primary-menu {
	.nav-toggle {
		display: none;
	}
}
