///
/// Sidebar & widget styles
///

// Convert hex to RGB.
@function hex_to_rgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

.footer-widgets {

	// Variables specific to the `.footer-widgets` element.
	--double-padding: calc( var( --go-block--padding--x ) * 2 );
	--wrapper-width: calc( 100% - var( --double-padding ) );
	--half-width: calc( var( --go--max-width ) / 2 );
	--half-gap: calc( var( --go-block--padding--x ) / 2 );
	--heading-bottom: calc( var( --go-heading--margin-bottom ) / 2 );

	// Styles for the `.footer-widgets` element.
	background-color: var( --gf-footer-widgets--background-color );
	margin-top: var( --gf-spacing--vertical--sm );
	padding-top: var( --gf-spacing--vertical--md );
	padding-bottom: var( --gf-spacing--vertical--md );
	font-size: 1em;
	font-size: var( --gf-footer-widgets--font-size, var( --go--font-size ) );
	font-weight: 400;
	font-weight: var( --gf-footer-widgets--font-weight, var( --go--font-weight ) );
	color: var( --gf-footer-widgets--text--color );

	.widget {
		margin-bottom: var( --go--spacing--vertical );
	}

	a {
		color: var( --go--color--primary );
		color: var( --gf-footer-widgets--hyperlink--color--text, var( --go--color--primary ) );
	}

	&.block-widgets {

		section {

			> * {
				margin-bottom: calc( var( --go--spacing--paragraph ) / var( --go--viewport-basis ) * 100rem );
				margin-bottom: var( --go--spacing--vertical );
				margin-left: auto;
				margin-right: auto;
			}

			&:first-of-type > :first-child {
				margin-top: 0;
			}

			> :not( hr ):not( .alignwide ):not( .alignfull ):not( .alignleft ):not( .alignright ):not( .is-style-wide ) {
				max-width: var( --go--max-width );
				width: calc( 100% - var( --double-padding ) );
			}

			> hr {
				margin: var( --gf-spacing--vertical--md ) auto;
				width: calc( 100% - var( --double-padding ) );
			}

			> .alignfull {
				margin-top: 0;
				padding: 0 var( --go-block--padding--x );
			}
		}
	}

	&.classic-widgets {

		.footer-widgets-wrapper {
			margin-bottom: calc( var( --go--spacing--paragraph ) / var( --go--viewport-basis ) * 100rem );
			margin-bottom: var( --go--spacing--vertical );
			margin-left: auto;
			margin-right: auto;
			max-width: var( --go--max-width );
			width: calc( 100% - var( --double-padding ) );
		}

		&.sidebars-active--2 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 600px ) {
					display: flex;
					flex-wrap: wrap;
					gap: var( --go-block--padding--x );
				}

				.widgets-grid-item {
					width: 100%;

					@media only screen and ( min-width: 600px ) {
						max-width: 46%;
						max-width: calc( var( --wrapper-width ) / 2 );
					}
				}
			}
		}

		&.sidebars-active--3,
		&.sidebars-active--4 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 600px ) {
					display: flex;
					flex-wrap: wrap;
					gap: var( --go-block--padding--x );

					.widgets-grid-item {
						width: 100%;
						max-width: calc( 50% - var( --half-gap ) );
					}
				}

				@media only screen and ( min-width: 782px ) {
					display: grid;
					grid-gap: var( --go-block--padding--x );

					.widgets-grid-item {
						max-width: 100%;
					}
				}
			}
		}

		&.sidebars-active--3 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 782px ) {
					grid-template-columns: repeat( 3, 1fr );
					max-width: calc( var( --half-width ) * 3 );
					width: calc( 100% - var( --double-padding ) );
				}
			}
		}

		&.sidebars-active--4 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 782px ) {
					grid-template-columns: repeat( 2, 1fr );
					max-width: calc( var( --half-width ) * 3 );
					width: calc( 100% - var( --double-padding ) );
				}

				@media only screen and ( min-width: 1025px ) {
					grid-template-columns: repeat( 4, 1fr );
					max-width: calc( var( --half-width ) * 4 );
					width: calc( 100% - var( --double-padding ) );
				}
			}
		}
	}

	.widget,
	.widgets-grid-item {

		section > h3 {
			margin-top: 0;
			margin-bottom: var( --go-heading--margin-bottom );
			margin-bottom: var( --gf-footer-heading--margin-bottom, var( --heading-bottom ) );
		}

		h3 {
			font-size: var( --go--type-scale-3 );
		}
	}
}

// Widget lists.
.wp-block-categories-list,
.wp-block-latest-comments,
.widget_archive ul,
.widget_categories ul,
.widget_pages ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul {
	list-style: none;
	padding: 0;

	li {
		font-size: var( --gf-footer-widgets--list--font-size, var( --go--font-size ) );
		font-weight: var( --gf-footer-widgets--list--font-weight, var( --go--font-weight ) );
	}
}

.widget_nav_menu ul {

	ul {
		margin: 0;
		padding-left: 1em;
	}
}

///
/// Search widget
///
/// Includes styles for block widgets and for classic widgets.
///

// Block search widget.
.wp-block-search {

	.wp-block-search__inside-wrapper {
		gap: 0.25em;
	}

	.wp-block-search__input {
		background-color: inherit;
		border: var(--go-input--border);
	}

	.wp-block-search__button {
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		margin: 0;
		padding: var( --go-button--padding--y ) var( --go-button--padding--x );
		vertical-align: bottom;
		background-color: var( --go-button--color--background, var( --go--color--primary ) );
		border: none;
		color: var( --go--color--white );
		color: var( --go-button--color--text, var( --go--color--white ) );

		&:hover,
		&:focus {
			background-color: var( --go--color--secondary );
			background-color: var( --go-button-interactive--color--background, var( --go--color--secondary ) );
		}
	}
}

// Classic search widget.
.widget_search {

	.search-form {
		display: flex;
		gap: 0.25em;

		input,
		button {
			margin: 0;
		}

		input {
			background-color: inherit;

			&:focus {
				background: var( --go--color--white );
				background: var( --go-input-interactive--color--background, var( --go--color--white ) );
			}
		}

		.search-input__button {
			position: relative;

			.search-input__label {
				position: absolute;
				left: -5000px;
			}

			.search-input__arrow-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 20px;
				height: auto;
				fill: var( --go--color--white );
				fill: var( --go-search-button--color--text, var( --go--color--white ) );
				transform: translate3d( -50% ,-50%, 0 );
			}
		}
	}
}

// Widget: Calendar.
.wp-block-calendar table th,
.wp-block-calendar tbody td,
.calendar_wrap th,
.calendar_wrap td,
.wp-calendar-nav span {
	display: table-cell;
	padding: 2.5% 0.25rem 2%;
	font-size: 0.875rem;
	line-height: 1;
	text-align: center;
}

.calendar_wrap {

	tfoot #prev,
	.wp-calendar-nav-prev {
		text-align: left;
	}

	tfoot #next,
	.wp-calendar-nav-next {
		text-align: right;
	}
}

.wp-block-calendar {

	table th {
		background-color: inherit;
		font-weight: 700;
	}

	td a {
		font-weight: 700;
		text-decoration: none;
	}

	tbody td,
	th {
		border: var( --go-input--border );
	}
}

.wp-calendar-table {
	margin-bottom: 0;
}

.wp-calendar-nav {
	display: table;
	width: 100%;
}

// Widget: Comments.
.wp-block-latest-comments__comment-excerpt {
	p {
		line-height: var( --go--line-height );
	}
}
