///
/// Sidebar & widget styles
///

// Convert hex to RGB.
@function hex_to_rgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

.footer-widgets {

	// Variables specific to the `.footer-widgets` element.
	--double-padding: calc( var( --go-block--padding--x ) * 2 );
	--wrapper-width: calc( 100% - var( --double-padding ) );
	--half-width: calc( var( --go--max-width ) / 2 );
	--half-gap: calc( var( --go-block--padding--x ) / 2 );
	--heading-bottom: calc( var( --go-heading--margin-bottom ) / 2 );

	// Styles for the `.footer-widgets` element.
	background-color: var( --gf-footer-widgets--background-color, var( --go--color--tertiary ) );
	margin-top: var( --gf-spacing--vertical--sm );
	padding-top: var( --gf-spacing--vertical--md );
	padding-bottom: var( --gf-spacing--vertical--md );
	font-size: 1em;
	font-size: var( --gf-footer-widgets--font-size, var( --go--font-size ) );
	font-weight: 400;
	font-weight: var( --gf-footer-widgets--font-weight, var( --go--font-weight ) );
	color: var( --gf-footer-widgets--color--text );

	.widget {
		margin-bottom: var( --go--spacing--vertical );
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var( --gf-footer-widgets--heading--color--text, var( --go-heading--color--text ) );
	}

	a {
		color: var( --gf-footer-widgets--hyperlink--color--text, var( --go--color--primary ) );

		&:hover,
		&:active {
			color: var( --gf-footer-widgets--hyperlink-interactive--color--text, var( --go--color--secondary ) );
		}
	}

	fieldset {
		margin-top: 0;
	}

	input[type="text"],
	input[type="email"],
	input[type="text"],
	input[type="password"],
	input[type="url"],
	input[type="tel"],
	input[type="search"],
	textarea {
		background-color: inherit;
		border-color: var( --gf-footer-widgets--input--border-color );

		&:focus {
			background: var( --go-input-interactive--color--background, var( --go--color--white ) );
			border-color: var( --gf-footer-widgets--input-interactive--color--border-color );
		}
	}

	button,
	.button,
	input[type="submit"],
	input[type="button"],
	.wp-block-search .wp-block-search__button {
		background-color: var( --gf-footer-widgets--button--color--background );

		&:hover,
		&:active {
			background-color: var( --gf-footer-widgets--button-interactive--color--background );
		}
	}

	&.block-widgets {

		section {

			> * {
				margin-bottom: calc( var( --go--spacing--paragraph ) / var( --go--viewport-basis ) * 100rem );
				margin-bottom: var( --go--spacing--vertical );
				margin-left: auto;
				margin-right: auto;
			}

			&:first-of-type > :first-child {
				margin-top: 0;
			}

			> :not( hr ):not( .alignwide ):not( .alignfull ):not( .alignleft ):not( .alignright ):not( .is-style-wide ) {
				max-width: var( --go--max-width );
				width: calc( 100% - var( --double-padding ) );
			}

			> hr {
				margin: var( --gf-spacing--vertical--md ) auto;
				width: calc( 100% - var( --double-padding ) );
			}

			> .alignfull {
				margin-top: 0;
				padding: 0 var( --go-block--padding--x );
			}
		}
	}

	&.classic-widgets {

		.footer-widgets-wrapper {
			margin-bottom: calc( var( --go--spacing--paragraph ) / var( --go--viewport-basis ) * 100rem );
			margin-bottom: var( --go--spacing--vertical );
			margin-left: auto;
			margin-right: auto;
			max-width: var( --go--max-width );
			width: calc( 100% - var( --double-padding ) );
		}

		&.sidebars-active--2 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 600px ) {
					display: flex;
					flex-wrap: wrap;
					gap: var( --go-block--padding--x );
				}

				.widgets-grid-item {
					width: 100%;

					@media only screen and ( min-width: 600px ) {
						max-width: 46%;
						max-width: calc( var( --wrapper-width ) / 2 );
					}
				}
			}
		}

		&.sidebars-active--3,
		&.sidebars-active--4 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 600px ) {
					display: flex;
					flex-wrap: wrap;
					gap: var( --go-block--padding--x );

					.widgets-grid-item {
						width: 100%;
						max-width: calc( 50% - var( --half-gap ) );
					}
				}

				@media only screen and ( min-width: 782px ) {
					display: grid;
					grid-gap: var( --go-block--padding--x );

					.widgets-grid-item {
						max-width: 100%;
					}
				}
			}
		}

		&.sidebars-active--3 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 782px ) {
					grid-template-columns: repeat( 3, 1fr );
					max-width: calc( var( --half-width ) * 3 );
					width: calc( 100% - var( --double-padding ) );
				}
			}
		}

		&.sidebars-active--4 {

			.footer-widgets-wrapper {

				@media only screen and ( min-width: 782px ) {
					grid-template-columns: repeat( 2, 1fr );
					max-width: calc( var( --half-width ) * 3 );
					width: calc( 100% - var( --double-padding ) );
				}

				@media only screen and ( min-width: 1025px ) {
					grid-template-columns: repeat( 4, 1fr );
					max-width: calc( var( --half-width ) * 4 );
					width: calc( 100% - var( --double-padding ) );
				}
			}
		}
	}

	.widget,
	.widgets-grid-item {

		section > h3 {
			margin-top: 0;
			margin-bottom: var( --go-heading--margin-bottom );
			margin-bottom: var( --gf-footer-heading--margin-bottom, var( --heading-bottom ) );
		}

		h3 {
			font-size: var( --go--type-scale-3 );
		}
	}
}
