///
/// Design style: Traditional
/// Color scheme: Brick
///

:root {
	--go--color--primary: #87200e;
	--go--color--secondary: #242611;
	--go--color--tertiary: #f9f2ef;
	--go--color--background: #ffffff;
}
