///
/// Site header styles
///

.header {
	width: 100%;

	.header__titles {
		align-items: baseline;

		@media screen and ( min-width: 960px ) {
			flex-wrap: wrap;
			gap: 0 1.5vw;
		}
	}
}

.custom-logo-link ~ a .site-title {
	margin: 0;
}

.site-description {
	@media screen and ( min-width: 960px ) {
		margin: 0;
	}
}

.page-template-cover-image {

	.header {
		position: absolute;
		background-color: transparent;

		.site-title,
		.site-description {
			color: white;
			opacity: 1;
		}

		@media screen and ( min-width: 960px ) {

			.header__navigation {
				a {
					color: white;
				}
			}
		}
	}

	&:not( .menu-is-open ) {

		.header {

			button {
				&:focus {
					outline-color: white;
				}
			}

			svg {
				fill: white;
			}
		}
	}
}

/**
 * Hide the menu toggle button if
 * there is nothing to toggle.
 */
.has-no-primary-menu {

	.nav-toggle {
		display: none;
	}
}
