///
/// Site header styles
///

.site-header {
	width: 100%;
}

.page-template-cover-image {
	.site-header {
		position: absolute;
	}
}

/**
 * Hide the menu toggle button if
 * there is nothing to toggle.
 */
.has-no-primary-menu {
	.nav-toggle {
		display: none;
	}
}
