///
/// Design style: Trendy
/// Color scheme: Champagne
///

:root {
	--go--color--primary: #000000;
	--go--color--secondary: #cc224f;
	--go--color--tertiary: #e5dede;
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--secondary );

	--gf-admin--menu--background-color: #000000;
}
