///
/// Design style: Rising Sun
/// Color scheme: Tea House
///

$primary: #734c33;
$secondary: #493628;
$tertiary: #f8f3dd;
$shared_dark: #343036;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--primary );

	--gf-admin--menu--background-color: #{$shared_dark};
}
