///
/// Design style: Rising Sun
/// Color scheme: Tea House
///

:root {
	--go--color--primary: #734c33;
	--go--color--secondary: #493628;
	--go--color--tertiary: #f8f3dd;
	--go--color--background: #ffffff;

	--gf-admin--menu--background-color: #343036;
}
