///
/// Design style: Rising Sun
///

:root {
	--go--font-size: 1.05rem;
	--go-heading--color--text: #504754;
	--go-heading--font-family: 'Crimson Pro', serif;
	--go--letter-spacing--small: .015em;
    --go--line-height: 1.85;
    --go--type-ratio: 1.275;
	--go-heading--font-weight: 400;
    --go-heading--letter-spacing: -0.02em;
    --go-heading--line-height: 1.15;
}
