body {
  background-color: 0, 0, 100%;
  background-color: var(--go--color--background, 0, 0, 100%);
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: var(--gf-admin--menu--background-color, var(--go-submenu--color--background, var(--go-heading--color--text)));
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background-color: var(--gf-admin--menu-current--background-color, var(--go--color--primary));
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top > a:focus {
  color: var(--gf-admin--menu-interactive--color, #ffffff);
}

#adminmenu li.wp-menu-open,
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: var(--gf-admin--menu-interactive--color, #ffffff);
  background-color: var(--gf-admin--menu-current--background-color, var(--go--color--primary));
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: var(--gf-admin--menu-interactive--color, #ffffff);
}

#collapse-button {
  color: var(--gf-admin--menu--collapse-button--color, #ffffff);
}

#collapse-button:hover, #collapse-button:focus {
  color: var(--gf-admin--menu--collapse-button--interactive--color, var(--go--color--primary));
}
