///
/// Color styles shared between all color schemes.
///

body {
    background-color: 0, 0, 100%;
    background-color: var( --go--color--background, 0, 0, 100% );
}

// Admin menu.

#adminmenu,
#adminmenuback,
#adminmenuwrap {
    background-color: var( --gf-admin--menu--background-color, var( --go-submenu--color--background, var( --go-heading--color--text ) ) );
}

#adminmenu .wp-submenu {
	background-color: var( --gf-admin--submenu--background-color, var( --go-submenu--color--background, var( --go-heading--color--text ) ) );
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: var( --gf-admin--submenu--background-color, var( --go-submenu--color--background, var( --go-heading--color--text ) ) );
}

#adminmenu {

	.wp-has-current-submenu .wp-submenu .wp-submenu-head,
	.wp-menu-arrow,
	.wp-menu-arrow div,
	li.current a.menu-top,
	li.wp-has-current-submenu a.wp-has-current-submenu {
		background-color: var( --gf-admin--menu-current--background-color, var( --go--color--primary ) );
	}

	.wp-submenu a:focus,
	.wp-submenu a:hover,
	a:hover,
	li.menu-top > a:focus {
		color: var( --gf-admin--menu-interactive--color, #ffffff );
	}

	li.wp-menu-open,
	a:hover,
	li.menu-top:hover,
	li.opensub > a.menu-top,
	li > a.menu-top:focus {
		color: var( --gf-admin--menu-interactive--color, #ffffff );
		background-color: var( --gf-admin--menu-current--background-color, var( --go--color--primary ) );
	}

	li.menu-top:hover div.wp-menu-image:before,
	li.opensub > a.menu-top div.wp-menu-image:before {
		color: var( --gf-admin--menu-interactive--color, #ffffff );
	}
}

#collapse-button {
	color: var( --gf-admin--menu--collapse-button--color, #ffffff );

	&:hover,
	&:focus {
		color: var( --gf-admin--menu--collapse-button--interactive--color, var( --go--color--primary ) );;
	}
}
