///
/// Design style: Modern
/// Color scheme: Indigo
///

:root {
	--go--color--primary: #303f9f;
	--go--color--secondary: #5c6bc0;
	--go--color--tertiary: #e8eaf6;
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--secondary );

	--gf-admin--menu--background-color: #000000;
}
