///
/// User toolbar styles
///

#wpadminbar {
	background-color: var( --gf-toolbar--background-color, var( --gf-admin--menu--background-color, var( --go-submenu--color--background ) ) );

	.ab-empty-item,
	a.ab-item,
	& > #wp-toolbar span.ab-label,
	& > #wp-toolbar span.noticon,
	#adminbarsearch:before,
	.ab-icon:before,
	.ab-item:before {
		color: var( --gf-toolbar--color, var( --go-submenu--color--text, var( --go--color--white, hsl( 0, 0%, 100% ) ) ) );
	}

	.ab-top-menu > li.hover > .ab-item,
	&.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
	&:not(.mobile) .ab-top-menu > li:hover > .ab-item,
	&:not(.mobile) .ab-top-menu > li > .ab-item:focus {
		background-color: var( --gf-toolbar--action--background-color, var( --gf-admin--menu-current--background-color, var( --go--color--primary ) ) );
		color: var( --gf-toolbar--action--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
	}

	&:not(.mobile) > #wp-toolbar a:focus span.ab-label,
	&:not(.mobile) > #wp-toolbar li:hover span.ab-label,
	& > #wp-toolbar li.hover span.ab-label,
	.quicklinks .ab-sub-wrapper .menupop.hover > a,
	.quicklinks .menupop ul li a:focus,
	.quicklinks .menupop ul li a:focus strong,
	.quicklinks .menupop ul li a:hover,
	.quicklinks .menupop ul li a:hover strong,
	.quicklinks .menupop.hover ul li a:focus,
	.quicklinks .menupop.hover ul li a:hover,
	.quicklinks .menupop.hover ul li div[tabindex]:focus,
	.quicklinks .menupop.hover ul li div[tabindex]:hover,
	li #adminbarsearch.adminbar-focused::before,
	li .ab-item:focus .ab-icon::before,
	li .ab-item:focus::before,
	li a:focus .ab-icon::before,
	li.hover .ab-icon::before,
	li.hover .ab-item::before,
	li:hover #adminbarsearch::before,
	li:hover .ab-icon::before,
	li:hover .ab-item::before,
	&.nojs .quicklinks .menupop:hover ul li a:focus,
	&.nojs .quicklinks .menupop:hover ul li a:hover {
		color: var( --gf-toolbar--action--color, var( --go--color--white, hsl( 0, 0%, 100% ) ) );
	}
}
