///
/// Design style: Trendy
/// Color scheme: Steel
///

$primary: #000000;
$secondary: #003c68;
$tertiary: #c0c9d0;
$shared_dark: #000000;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;
	--gf-admin--menu-current--background-color: var( --go--color--secondary );

	--gf-admin--menu--background-color: #{$shared_dark};
}
