:root {
  --go--color--primary: #000000;
  --go--color--secondary: #003c68;
  --go--color--tertiary: #c0c9d0;
  --go--color--background: #ffffff;
  --gf-admin--menu--background-color: #000000;
  --gf-admin--submenu--background-color: #262626;
  --gf-admin--menu-current--background-color: #003c68;
}
