///
/// Design style: Playful
/// Color scheme: Berry
///

$primary: #117495;
$secondary: #d691c1;
$tertiary: #f7feff;
$shared_dark: #323648;

:root {
	--go--color--primary: #{$primary};
	--go--color--secondary: #{$secondary};
	--go--color--tertiary: #{$tertiary};
	--go--color--background: #ffffff;

	--gf-admin--menu--background-color: #{$shared_dark};
	--gf-admin--submenu--background-color: #{lighten( $color: $shared_dark, $amount: 10% )};
}
