:root {
  --go--color--primary: #000000;
  --go--color--secondary: #4d0859;
  --go--color--tertiary: #ded9e2;
  --go--color--background: #ffffff;
  --gf-admin--menu--background-color: #000000;
  --gf-admin--submenu--background-color: #262626;
  --gf-admin--menu-current--background-color: #4d0859;
}
